.button_area{
  background-color:rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;

}



.animal{
margin:5px;
background-color: rgba(0,0,255,0.5);
color:white;

}

.animal:hover{

  font-weight:bold;
  text-decoration:underline;
  
  }
.buttons-view{
 
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}



.gif_area{
  margin-top:20px;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));

}

#button-form , #loading, #loadingText{
    /* float: right; */
    /* margin-left: 50%; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* display: flex; */
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.click_to_move{
    margin-bottom: 20px;
}

#add-animal, #clear_giph{
margin: 5px;    

}

.click_to_move{
  margin-left: 10%;
}

label {
  color:white;
  font-weight:bold;
  font-size: 20px;

}
#loadingText{
  color:black;
  font-weight:bold;
  font-size: 25px;
  padding:5px;

}


 @media screen and (max-width:  935px) {
  .gif_area{
      margin-top:20px;
      margin-right: 20%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-gap: 5px;
  
  }

}

/* cool css background */
html{
  background-color:#556;
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-image: -webkit-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -webkit-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -webkit-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -webkit-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -webkit-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
                    -webkit-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-image: -moz-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -moz-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -moz-linear-gradient(60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -moz-linear-gradient(-60deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
                    -moz-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
                    -moz-linear-gradient(30deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
  background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 0 0,
                    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 0 0,
                    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 40px 70px,
                    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 40px 70px,
                    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) 0 0,
                    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) 40px 70px / 80px 140px;
  -pie-background: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 0 0 / 80px 140px,
                   linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 0 0 / 80px 140px,
                   linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 40px 70px / 80px 140px,
                   linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445) 40px 70px / 80px 140px,
                   linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) 0 0 / 80px 140px,
                   linear-gradient(60deg, rgb(208, 208, 235) 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a) 40px 70px / 80px 140px,
                   #556;
  behavior: url(/pie/PIE.htc);

}

